@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
@import url(banner.css);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Spartan', serif;
	background: #0b2027;
}

header {
	position: relative;
	float: center;
	width: 100%;
	height: 8%;
	background: #333;
	color: #fff;
}


header .titulo {
	position: relative;
	top: 150%;
}

.contenedor {
	position: relative;
	text-align: center;
	color: #fff;
	width: 80%;
	height: 20%;
	margin: auto;
}
.contenedor .texto {
	width: 100%;
	height: 400%;
	background: #fff;
	color: #000;
}
.contenedor .texto2 {
	width: 100%;
	height: 270%;
	background: #fff;
	color: #000;
}

.contenedor .texto3 {
	width: 100%;
	height: 160%;
	background: #fff;
	color: #000;
}

.contenedor .texto4 {
	width: 100%;
	height: 210%;
	background: #fff;
	color: #000;
}


.contenedor .textocita {
	font-size: 10px;
	width: 100%;
	height: 10%;
	background: #fff;
	color: #000;
}

header .contenedor {
	display: tab
}

section {
	width: 100%
	margin-bottom: 25px;
}

footer .contenedor {
	padding-bottom: 25px;
}

.contenedor1 {
	margin: auto;
	position: relative;
	width: 90%;
	height: 70%;
	top: 25%;
}

.copy {
	margin: auto;
	position: absolute;
	text-align: justify;
	font-size: 20px;
	color: #fff;
	width: 100%;
	height: 0%;
	top: 485%;
}

.copy1 {
	margin: auto;
	position: absolute;
	text-align: left;
	font-size: 10px;
	color: #fff;
	width: 100%;
	height: 0%;
	top:470%;
}


